/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page zmq_examplesguide Examples

    @tableofcontents

    @par Example:
    @code{.py}
 #!/usr/bin/env qore

 %new-style
 %require-types
 %strict-args
 %enable-all-warnings

 %requires zmq
    @endcode
*/
