/** @mainpage Qore zmq Module

    @tableofcontents

    @section zmqintro zmq Module Introduction

    The \c zmq module provides an API for socket operations based on the <a href="http://zeromq.org">ZeroMQ</a> library.

    Classes provided by this module:
    - @ref Qore::ZMQ::ZFrame "ZFrame"
    - @ref Qore::ZMQ::ZMsg "ZMsg"
    - @ref Qore::ZMQ::ZSocket "ZSocket"
      - @ref Qore::ZMQ::ZSocketClient "ZSocketClient" (thread-safe, draft API)
      - @ref Qore::ZMQ::ZSocketDealer "ZSocketDealer"
      - @ref Qore::ZMQ::ZSocketPair "ZSocketPair"
      - @ref Qore::ZMQ::ZSocketPub "ZSocketPub"
      - @ref Qore::ZMQ::ZSocketPull "ZSocketPull"
      - @ref Qore::ZMQ::ZSocketPush "ZSocketPush"
      - @ref Qore::ZMQ::ZSocketRep "ZSocketRep"
      - @ref Qore::ZMQ::ZSocketReq "ZSocketReq"
      - @ref Qore::ZMQ::ZSocketRouter "ZSocketRouter"
      - @ref Qore::ZMQ::ZSocketServer "ZSocketServer" (thread-safe, draft API)
      - @ref Qore::ZMQ::ZSocketStream "ZSocketStream"
      - @ref Qore::ZMQ::ZSocketSub "ZSocketSub"
      - @ref Qore::ZMQ::ZSocketXPub "ZSocketXPub"
      - @ref Qore::ZMQ::ZSocketXSub "ZSocketXSub"

    Functions provided by this module:
    - @ref Qore::ZMQ::zmq_curve_keypair() "zmq_curve_keypair()"
    - @ref Qore::ZMQ::zmq_curve_public() "zmq_curve_public()"
    - @ref Qore::ZMQ::zmq_version() "zmq_version()"
    - @ref Qore::ZMQ::zmq_z85_decode() "zmq_z85_decode()"
    - @ref Qore::ZMQ::zmq_z85_encode() "zmq_z85_encode()"

    Unlike the ZeroMQ C library which uses an unlimited timeout period on socket send and
    receive operations by default, the socket timeout in the %Qore @ref Qore::ZMQ::ZSocket "ZSocket"
    class is set by default to two minutes; to change the default timeout,
    call one of the following methods after creating the object:
    - @ref Qore::ZMQ::ZSocket::setRecvTimeout() "ZSocket::setRecvTimeout()"
    - @ref Qore::ZMQ::ZSocket::setSendTimeout() "ZSocket::setSendTimeout()"
    - @ref Qore::ZMQ::ZSocket::setTimeout() "ZSocket::setTimeout()"

    @par Timeout Example:
    @code{.py}
    # create a ROUTER socket on all devices on a wildcard/random port
    ZSocketRouter sock(zctx, name, "tcp://0.0.0.0:*");
    # set the default send and receive timeout to unlimited (never time out)
    sock.setTimeout(-1);
    # print out the URL with the actual port number
    printf("queue URL bound to: %y\n", sock.endpoint());
    @endcode

    @section zmqdocumentation Documentation

    - @anchor zmq_examples @subpage zmq_examplesguide
    - @anchor zmqendpoints @subpage zmqendpointsguide
    - @anchor zmqencryption @subpage zmqencryptionguide
    - @anchor zmqthreadsafe @subpage zmqthreadsafeguide
    - @anchor zmqreleasenotes @subpage zmqreleasenotesguide
    - @anchor zmqpackaging @subpage zmqpackagingguide

    @section zmqerrors zmq Errors

    Generally exceptions are thrown if an error occurs in ZeroMQ calls.  In such cases, the \c arg key of the exception hash will contain the ZeroMQ \a errno value.

*/
